:root {

  /* BASE */
  --bg-main: #0B0F14;
  --bg-card: #121821;
  --bg-soft: #0F141B;

  --text-primary: #FFFFFF;
  --text-secondary: #9CA3AF;
  --text-muted: #6B7280;

  --primary: #F59E0B;
  --primary-strong: #FFB020;

  --green: #22C55E;
  --red: #EF4444;
  --blue: #3B82F6;

  --border: rgba(255,255,255,0.08);
  --border-strong: rgba(255,255,255,0.15);

  --shadow: 0 10px 30px rgba(0,0,0,0.5);
  --shadow-soft: 0 5px 15px rgba(0,0,0,0.3);
}

/* LIGHT */
body[data-theme="light"] {
  --bg-main:#f3f3f3;
  --bg-card:#ffffff;
  --bg-soft:#f9f9f9;

  --text-primary:#000;
  --text-secondary:#555;

  --border:#e5e5e5;
}

/* BODY */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
}